
.shop-container{
    display: flex;
}

.products-container{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 10rem;
    width: 50rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.product {
    border: 0.15rem solid;
    width: 20rem;
    margin: 0.5rem;
}
  
.product-img {
    width: 10rem;
    height: 10rem;
}
  

.cart-container{
    width: 40rem;
}

.cart-container > label{
    font-weight: bold;
    text-decoration: underline;
}

.cart-container .cart-items img{
    height: 2rem;
    width: 2rem;
}

.cart-container .cart-items label{
    vertical-align: super;
}

.cart-container .cart-items span{
    vertical-align: super;
}

.orders-table{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 10px;
}

.orders-table .header {
    font-weight: bold;
}

.row{
    border: 1px solid black;
}

.col{
    padding: 0.25rem;
    border: 1px solid black;
    padding: 0.25rem;
}

// sheets
canvas {
    height: 1000px;
    width: 1500px;
}

.sheet-list ul {
    padding-right: 1rem;
    border-right: 1px solid;
}

.sheet-list ul li {
    font-weight: 500;
}

.sheet-list ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}


.sheet-canvas {
    margin: 2rem;
    background: #eee;
  }
  
.sheet-container{
    display: flex;
}
  
.sheet-container canvas {
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
  }